<html>
    <head>
        <title>SkillBot</title>
        <% include header %>
    </head>
    <body style="margin-top: 10%; text-align: center">
        <img src="/SkillBotLogo-512x512.jpg" width="150"/>
        <h1>Hello, I am SkillBot</h1>
        <h2><a style="font-size: 18pt;text-decoration:none" href="https://slack.skillbot.io/slack_auth">Install Me</a></h2>
    </body>
</html>